body {
    background-color: #f0d9b5;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

h1 {
    color: #b58863;
}

.info {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #b58863;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

button:hover {
    background-color: #9c7452;
}
